# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Data / external
data/
external/

# Jupyter
.ipynb_checkpoints/

# LaTeX build
report/_build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc
*.synctex.gz

# OS
.DS_Store
Thumbs.db
